body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border: 1px solid #ddd;/*add border*/
}

input[type=file] {
    margin-bottom: 20px;
}

pre {
    text-align: left;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    
}
/* small modification for resume button upload*/
button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition:  0.3s, transform 0.2s;
}

button:hover {
    background: #45a049;
    transform: scale(1.05);

}
